name: Build Alternate UI Frontend HTML

on:
  workflow_dispatch:
  push:
    paths:
    - "implement/alternate-ui/**"
    - ".github/workflows/build-alternate-ui-frontend-html.yml"

jobs:
  build:

    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v5

    - name: download build tool
      run: |
        pwsh -nologo -noprofile -command "Invoke-WebRequest 'https://github.com/pine-vm/pine/releases/download/v0.4.21/pine-bin-v0.4.21-linux-x64.zip' -OutFile pine-bin-linux-x64.zip"
        pwsh -nologo -noprofile -command "& { Add-Type -A 'System.IO.Compression.FileSystem'; [IO.Compression.ZipFile]::ExtractToDirectory('pine-bin-linux-x64.zip','./pine');}"

    - name: install build tool
      run: |
        chmod  +x  ./pine/pine
        sudo  ./pine/pine  install

    - name: Build HTML
      working-directory: ./implement/alternate-ui/source
      run: |
        pine  make  src/Frontend/Main.elm  --output=./eve-online-alternate-ui-${{github.sha}}.html

    - uses: actions/upload-artifact@v4
      with:
        name: eve-online-alternate-ui-${{github.sha}}
        path: ./implement/alternate-ui/source/eve-online-alternate-ui-${{github.sha}}.html
